CALCULAR LA DISTANCIA ENTRE DOS PUNTOS EN UN PLANO CARTESIANO

In [ ]:
#Calcular la distancia entre dos puntos
x1=float(input("ingrese el valor de x de la primera coordenada"))
y1=float(input("ingrese el valor de y de la primera coordenada"))
x2=float(input("ingrese el valor de x de la segunda coordenada"))
y2=float(input("ingrese el valor de y de la segunda coordenada"))

ingrese el valor de x de la primera coordenada7
ingrese el valor de y de la primera coordenada14
ingrese el valor de x de la segunda coordenada-2
ingrese el valor de y de la segunda coordenada8

In [ ]:
#Opción 1: Uso variable para almacenar la operación
d=((x1-x2)**2+(y1-y2)**2)**1/2
print(f"La distancia entre los puntos ({x1},{y1})")
print(f"y ({x2},{y2}) es {d}")

La distancia entre los puntos (7.0,14.0)
y (-2.0,8.0) es 58.5

In [ ]:
#Forma 2: Sin variable, se imprime resultado
print(f"La distancia entre los puntos ({x1},{y1})")
print(f"y ({x2},{y2}) es {((x1-x2)**2+(y1-y2)**2)**1/2}")

La distancia entre los puntos (7.0,14.0)
y (-2.0,8.0) es 58.5

PROMEDIO DE CALIFICACIONES Y CODIGO DEL ESTUDIANTE

In [ ]:
#calcular las calificaciones y el codigo de cada estudiante
m1=float(input("codigo del estudiante"))
m2=float(input("ingrese el valor de la primera calificacion"))
m3=float(input("ingrese el valor de la segunda calificacion"))
m4=float(input("ingrese el valor de la tercera calificacion"))
m5=float(input("ingrese el valor de la cuarta calificacion"))
m6=float(input("ingrese el valor de la quinta calificacion"))

codigo del estudiante0725
ingrese el valor de la primera calificacion4
ingrese el valor de la segunda calificacion3
ingrese el valor de la tercera calificacion5
ingrese el valor de la cuarta calificacion5
ingrese el valor de la quinta calificacion2

In [ ]:
#Opción 1: Uso variable para almacenar la operación
d=((m2+m3+m4+m5))/5
print(f"el estudiante con codigo ({m1}) ")
print(f"tiene un promedio de {d}")

el estudiante con codigo (725.0)
tiene un promedio de 3.4

CALCULAR EL NUMERO DE SEGUNDOS EN UN NUMERO DE DIAS

In [ ]:
#Leer el numero entero de la cantidad de días
dias= int(input("ingrese el numero de dias: "))

ingrese el numero de dias: 7

In [ ]:
#Leer variable de segundos
segundos= dias*24*60*60
print(f"el número de segundos en los dias dados: {segundos}")

el número de segundos en los dias dados: 604800

CALCULAR EL AREA DE UN TRIANGULO DADO LOS 3 LADOS

In [ ]:
#Leer medidas de los 3 lados de un triangulo
lado1=float(input("ingrese el valor de la medida de el primer lado "))
lado2=float(input("ingrese el valor de la medida de el segundo lado "))
lado3=float(input("ingrese el valor de la medida de el tercer lado "))

ingrese el valor de la medida de el primer lado 12
ingrese el valor de la medida de el segundo lado 12
ingrese el valor de la medida de el tercer lado 11

In [ ]:
#Leer variable del semiperimetro
Sp= (lado1+lado2+lado3)/2
print(f"el semiperimetro es {Sp}")

el semiperimetro es 17.5

In [ ]:
#Leer variable de area
A=(Sp*(Sp-lado1)*(Sp-lado2)*(Sp-lado3))**1/2
print(f"el area del triangulo es {A}")

el area del triangulo es 1720.46875

CALCULAR EL CAMBIO DE UNA COMPRA

In [ ]:
#Leer el precio del producto
COD= float(input("ingrese el precio del producto "))

ingrese el precio del producto 7000

In [ ]:
#Leer cantidad de dinero entregado
DIN= float(input("ingrese la cantidad de dinero entregada "))

ingrese la cantidad de dinero entregada 20000

In [ ]:
#Leer la variable cambio
CAM= DIN-COD
print(f" el cambio es {CAM} ")

 el cambio es 13000.0

CALCULAR EL AREA DE UN TRIANGULO

In [ ]:
#Leer el número entero de la base del triangulo
Bs= int(input("ingrese el numero de la base del triangulo "))

ingrese el numero de la base del triangulo 7

In [ ]:
#Leer el número entero de la altura del triangulo
Al= int(input("ingrese el numero de la altura del triangulo "))

ingrese el numero de la altura del triangulo 11

In [ ]:
#Leer la variable Area del triangulo
Ar= (Bs*Al)/2
print(f"el area del triangulo es {Ar}")

el area del triangulo es 38.5

CALCULAR EL AREA Y PERIMETRO DE UN TRIANGULO

In [ ]:
#Leer el número entero de la base del triangulo
Ba= int(input("ingrese el numero de la base del triangulo "))

ingrese el numero de la base del triangulo 4

In [ ]:
#Leer el número entero de la altura del triangulo
Ra= int(input("ingrese el numero de la altura del triangulo "))

ingrese el numero de la altura del triangulo 8

In [ ]:
#Leer la variable perimetro del triangulo
Pe= 2*(Ba+Ra)
print(f"el perimetro del triangulo es {Pe}")

el perimetro del triangulo es 24

In [ ]:
#Leer la variable Area del triangulo
Re= Ba*Ra
print(f"el area del triangulo es {Re}")

el area del triangulo es 32

CALCULAR EL CUADRADO Y CUBO DE UN NUMERO ENTERO

In [ ]:
#Leer el número entero positivo
Np= int(input("ingrese el numero entero positivo "))

ingrese el numero entero positivo 7

In [ ]:
#Leer variable el cuadrado
Cu= Np**2
print(f"el cuadrado de {Np} es {Cu}")

el cuadrado de 7 es 49

In [ ]:
#Leer Variable el cubo
Cb= Np**3
print(f"el cubo de {Np} es {Cb}")

el cubo de 7 es 343